/* --------- 15 WAYS TO WEAR GRID --------- */


#fifteen-ways-grid {
  margin-top: 40px;
}

  #fifteen-ways-grid .fifteen-ways-grid-item {
    width: 380px;
    height: 380px;
    display: inline-block;
    margin: 5px;
    position: relative;
  }

    #fifteen-ways-grid .fifteen-ways-grid-item .fifteen-ways-grid-image {
      width: 380px;
      height: 320px;
    }

    #fifteen-ways-grid .fifteen-ways-grid-item .fifteen-ways-grid-title {
      position: absolute;
      bottom: 0;
      width: 100%;
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
    }


    #fifteen-ways-grid .fifteen-ways-overlay {
    }

    #fifteen-ways-grid .fifteen-ways-overlay .fifteen-ways-overlay-circle {
      height: 320px;
      width: 320px;
      position: absolute;
      top: 0;
      left: 30px;
      background: #f9f8f4;
      border-radius: 100%;
    }

    #fifteen-ways-grid .fifteen-ways-overlay .fifteen-ways-overlay-circle .fifteen-ways-overlay-text {
      margin-top: 80px;
      font-size: 16px;
      line-height: 23px;
      color: #666666;
    }


@media only screen and (min-width: 1080px) and (max-width: 1200px) {

  #fifteen-ways-grid {
    width: 880px;
    margin: 20px auto 50px;
  }

  #fifteen-ways-grid .fifteen-ways-grid-item {
  width: 280px;
  height: 280px;
  }

  #fifteen-ways-grid .fifteen-ways-grid-item .fifteen-ways-grid-image {
  width: 280px;
  height: 240px;
  }

  #fifteen-ways-grid .fifteen-ways-grid-item .fifteen-ways-grid-image img {
  width: 100%;
  }

  #fifteen-ways-grid .fifteen-ways-grid-item .fifteen-ways-grid-title {
  font-size: 18px;
  }

  #fifteen-ways-grid .fifteen-ways-overlay .fifteen-ways-overlay-circle {
  height: 220px;
  width: 220px;
  }

  #fifteen-ways-grid .fifteen-ways-overlay .fifteen-ways-overlay-circle .fifteen-ways-overlay-text {
  margin-top: 25px;
  font-size: 14px;
  line-height: 18px;
  }

}

@media only screen and (min-width: 980px) and (max-width: 1079px) {

  #fifteen-ways-grid {
    width: 880px;
    margin: 20px auto 50px;
  }

  #fifteen-ways-grid .fifteen-ways-grid-item {
  width: 280px;
  height: 280px;
  }

  #fifteen-ways-grid .fifteen-ways-grid-item .fifteen-ways-grid-image {
  width: 280px;
  height: 240px;
  }

  #fifteen-ways-grid .fifteen-ways-grid-item .fifteen-ways-grid-image img {
  width: 100%;
  }

  #fifteen-ways-grid .fifteen-ways-grid-item .fifteen-ways-grid-title {
  font-size: 18px;
  }

  #fifteen-ways-grid .fifteen-ways-overlay .fifteen-ways-overlay-circle {
  height: 220px;
  width: 220px;
  }

  #fifteen-ways-grid .fifteen-ways-overlay .fifteen-ways-overlay-circle .fifteen-ways-overlay-text {
  margin-top: 25px;
  font-size: 14px;
  line-height: 18px;
  }

}

@media only screen and (min-width: 320px) and (max-width: 979px) {

  #fifteen-ways-grid {
    width: 640px;
    margin: 0 auto;
  }

  #fifteen-ways-grid .fifteen-ways-grid-item {
  width: 200px;
  height: 260px;
  }

  #fifteen-ways-grid .fifteen-ways-grid-item .fifteen-ways-grid-image {
  width: 200px;
  height: 160px;
  }

  #fifteen-ways-grid .fifteen-ways-grid-item .fifteen-ways-grid-image img {
  width: 100%;
  }

  #fifteen-ways-grid .fifteen-ways-grid-item .fifteen-ways-grid-title {
  bottom: 40px;
  font-size: 13px;
  }

  #fifteen-ways-grid .fifteen-ways-overlay .fifteen-ways-overlay-circle {
  height: 160px;
  width: 160px;
  }

  #fifteen-ways-grid .fifteen-ways-overlay .fifteen-ways-overlay-circle .fifteen-ways-overlay-text {
  margin-top: 0px;
  font-size: 12px;
  line-height: 14px;
  }

}