.breadcrumb {
  display: none;
}

.centred {
  text-align: center;
}

.grey {
  color: #666;
}

h1 {
  margin: 0px 0px 10px;
}

h2 {
  font-family: "SmytheSansLig", Arial;
  text-transform: uppercase;
}

h3 {
  font-family: "SmytheSansReg", Arial;
  text-transform: uppercase;
  font-size: 20px;
  margin: 20px 0px 0px;
}

.smythe-light {
  font-family: "SmytheSansLig", Arial;
}

a.btn-centred {
  margin: 0 auto;
  display: block;
  width: 100px;
}

#close-window {
  outline: 0;
  position: absolute;
  right: 15px;
  top: 15px;
  background: url('http://www.coast-stores.com/pws/client/bridesmaid-style-book-2015/close.png');
  height: 16px;
  width: 16px;
  cursor: pointer;
}

#more-options-items {
        margin-top: 30px;
    }

    #more-options-items a.btn {
        margin: 20px auto 10px;
        width: 115px;
        display: block;
      }

    #more-options-items h3 {
        margin-bottom: 15px;
      }

    #more-options-items p {
        text-align: center;
      }

    #or-other-options-container {
      position: relative;
      height: 600px;
    }

      #or-other-options-container #header-overlay {
        width: 100px;
        margin: 0 auto;
        background: white;
        bottom: 13px;
        position: relative;
    }

    #or-other-options-container > #beige-strip {
      width: 100%;
      background: #f9f8f4;
      height: 200px;
      position: relative;
      margin-top: 145px;
    }

    #or-other-options-container > #or-other-options {
      position: absolute;
      top: 0;
      width: 100%;
      margin-top: 20px;
    }

    #or-other-options a.btn {
      width: 114px;
      display: block;
        margin: 15px auto 0px;
    }

    #or-other-options img {
      margin: 20px 0px;
    }

/* --------- 'SHOP BY x' PAGES --------- */

    #intro-text {
      padding: 10px 0px;
      border-bottom: 1px solid #a8996e;
    }

      #intro-text h1 {
        text-align: center;
        font-size: 50px;
      }

      #intro-text p {
        text-align: center;
        margin: 0 auto;
      }

    #trend-section > #beige-strip {
      width: 1180px;
      background: #f9f8f4;
      height: 170px;
      position: absolute;
      margin-top: 70px;
    }

    ul#filter-buttons-group {
      width: 100%;
      margin: 30px auto;
    }

    ul#filter-buttons-group li {
      display: inline-block;
    }

    ul#filter-buttons-group li a:focus {
      outline: 0;
    }

    ul#filter-buttons-group > li a img {
      opacity: 0.4;
      transition: 1s;
    }

    ul#filter-buttons-group > li a img:hover {
      opacity: 1;
    }

    ul#filter-buttons-group > li.ui-state-active a img {
      border: 1px solid rgb(143, 143, 243);
      opacity: 1;
    }

    a.filter-button {
      width: 145px;
  	  height: 145px;
      display: block;
      margin: 10px;
      outline: 0;
      padding: 10px;
    }

    a.filter-button-text {
      display: block;
      text-align: center;
    }

    a.filter-button img {
      border-radius: 100%;
      padding: 3px;
    }

    li.filter-button a {
      outline: 0;
      top: 28px;
      position: relative;
    }

    #tabs {
      margin: 30px 0px;
    }

    #trend-section {
      padding: 20px 0px 0px;
    }

    h2 {
      text-align: center;
      text-transform: uppercase;
      font-size: 25px;
    }

    .section-title {
      margin: 0 auto;
      display: block;
      position: relative;
      float: none;
    }

    .product, .item {
      display: block;
      float: left;
      margin: 10px 0px;
      cursor: pointer;
      padding: 0px 10px;
      position: relative;
    }

      .item p.trend-link-bottom-text {
        position: absolute;
        bottom: 5px;
        width: 275px;
        text-align: center;
      }

    .product > img {
      width: 100%;
    }

    .extra-info p {
      background: #f9f8f4;
      padding: 30px;
      line-height: 1.4;
    }

    #clicked-product-info {
      display: none;
      width: 720px;
      margin: 20px auto;
      height: 540px;
    }

    #clicked-product-info > #clicked-product-info-left {
      float: left;
      height: 531px;
      width: 360px;
    }

    #clicked-product-info > #clicked-product-info-right {
      background: #f9f8f4;
      float: left;
      height: 540px;
      padding: 25px;
      position: relative;
      width: 360px;
    }

    p#petite {
      margin: 10px 0px 0px 0px;
    }

      #clicked-product-info-right h4 {
        text-transform: uppercase;
        color: #000000;
      }

      #clicked-product-info-right > p {
  		margin: 9px 0px;
	    }

      #clicked-product-info-right #current-colour {
        margin: -15px 0px 0px;
      }

      #clicked-product-info-right #current-colour p {
        display: inline-block;
      }

      #clicked-product-info-right #colour-swatch-container {
        width: 320px;
        margin: 0 auto;
      }

      #clicked-product-info-right .colour-swatch-item {
        display: inline-block;
        margin-right: 15px;
        height: 24px;
        width: 24px;
        padding: 1px 1px;
        border-radius: 100%;
        border: 1px solid #f9f8f4;
      }

      #clicked-product-info-right .colour-swatch-item .colour-swatch-item-circle {
        height: 20px;
        width: 20px;
        border-radius: 100%;
        border: 1px solid #e1e1e1;
        margin: 0 auto;
        cursor: pointer;
      }

      #clicked-product-info-right .colour-swatch-item p {
        text-align: center;
      }

    #clicked-product-info #email-me-iframe {
      margin-top: 10px;
    }

    .quickbuy-right {
    	display: none;
    }

    #more-options-footer {
      margin: 30px 0px;
    }

    #more-options-footer hr {
      background: #a8996e;
      height: 1px;
      margin-top: 30px;
    }

/* --------- QUICK BUY --------- */

#size-stock .size-select .in-stock label {
  background: #fff;
  color: #232323;
  border: 1px solid #d8d8d8;
}

/* --------- INSPIRATION --------- */

.inspiration {
  position: relative;
}

.inspiration-item {
  outline: 0 !important;
}

.inspiration-item p {
    margin: 5px 0px 0px;
}

/* --------- MEDIA QUERIES --------- */

@media only screen and (min-width: 1080px) and (max-width: 1200px) {

  a.filter-button {
    width: 117px;
    height: 117px;
  }

  #or-other-options-container > #beige-strip {
    height: 150px;
    margin-top: 120px;
  }

  #clicked-product-info-right #colour-swatch-container {
    width: 290px;
  }

  #trend-section > #beige-strip {
    height: 140px;
    margin-top: 75px;
    }

  .item p.trend-link-bottom-text {
    font-size: 12px;
    width: 224px;
    bottom: 0;
  }

}

@media only screen and (min-width: 980px) and (max-width: 1079px) {

  a.filter-button {
    width: 117px;
    height: 117px;
  }

  #or-other-options-container > #beige-strip {
    height: 150px;
    margin-top: 120px;
  }

  #clicked-product-info-right #colour-swatch-container {
    width: 290px;
  }

  #trend-section > #beige-strip {
    height: 140px;
    margin-top: 75px;
    }

  .item p.trend-link-bottom-text {
    font-size: 12px;
    width: 224px;
    bottom: 0;
  }

}

@media only screen and (min-width: 768px) and (max-width: 979px) {

  h3 {
    font-size: 16px;
  }

  ul#filter-buttons-group {
    width: 768px;
  }

  a.filter-button {
    width: 86px;
    height: 86px;
  }

  #or-other-options-container {
    height: 500px;
  }

  #or-other-options-container > #beige-strip {
    height: 110px;
    margin-top: 105px;
  }

  #trend-section > #beige-strip {
    height: 100px;
    margin-top: 60px;
    }

  .item p.trend-link-bottom-text {
    font-size: 8px;
    width: 90%;
    bottom: 3px;
  }

}

