::-webkit-input-placeholder { /* WebKit browsers */
    color:   #333;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #333;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #333;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #333;
}

form label {
  font-family: "SmytheSansReg", Arial;
  font-size: 13px;
  margin: 5px 0;
  float: left;
  clear: left;
}

form input[type="text"] {
  padding: 5px;
  font-size: 14px;
  border-radius: 0;
  border: 1px solid #ccc;
  -webkit-appearance: none;
}

form input[type="hidden"] {
  display: none;
}

#submitbutton {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    background: #000000 url('http://www.coast-stores.com/pws/client/bridesmaid-style-book-2015/email-me-iframes/cta_arrow.svg') no-repeat 85% center;
    padding: 10px 40px 10px 20px;
    border: none;
    color: white;
    text-transform: uppercase;
    font-family: "SmytheSansReg", Arial;
    font-size: 15px;
    -webkit-transition: all .5s;  /* For Safari 3.1 to 6.0 */
    transition: all .5s;
    float: left;
    clear: left;
    border-radius: 0;
    top: -26px;
}

#submitbutton:hover,
#submitbutton.active {
    background-position: 92.5% center;
    background-color: #000000;
    cursor: pointer;
    color: #ffffff;
    background: #000000;
}

td {
  color: #666;
  font-family: "SmytheSansReg", Arial;
  font-weight: 100;
  font-size: 14px;
  vertical-align: baseline;
  padding: 4px 0px;
}

input[type="checkbox"] {
  position: relative;
  bottom: 1px;
}

@media screen and (max-width: 370px) {
  input[type="text"]  {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
  }

}

@media screen and (min-width: 371px) {
  form {
    text-align: left;
    white-space: nowrap;
  }
  form input[type="text"]  {
    display: inline-block;
    width: 70%;
    margin-right: 1%;
  }
}