.bx-wrapper .bx-viewport {
  border: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  left: 0px;
}

.bx-wrapper .bx-pager {
  width: 40px !important;
  position: absolute !important;
  right: 10px !important;
  bottom: 10px !important;
  font-size: 14px !important;
  font-family: "SmytheSansLig", Arial !important;
}

.bx-wrapper .bx-pager .bx-pager-item { /* hide pager buttons as we use a n/total counter */
  display: none;
}

.bx-wrapper .bx-loading {
  background: none;
}

/* FIX CHEVRON POSITIONING */

#tabs .bx-controls .bx-controls-direction a { /* Hide chevrons, display them when slideshow loads (bxSlider callback) */
  display: none;
}

.bx-wrapper .bx-prev {
  background: url('chevron-left.svg')
}

#tabs .bx-controls .bx-controls-direction a.bx-prev {
  top: 50%;
  left: 10%;
  background-size: 19px;
  background-repeat: no-repeat;
  height: 50px;
}

#tabs .bx-controls .bx-controls-direction a.bx-prev:before {
  content: '';
}

.bx-wrapper .bx-next {
  background: url('chevron-right.svg')
}

#tabs .bx-controls .bx-controls-direction a.bx-next {
  top: 50%;
  left: 90%;
  background-size: 19px;
  background-repeat: no-repeat;
  height: 50px;
}

#tabs .bx-controls .bx-controls-direction a.bx-next:before {
  content: '';
}

.bx-wrapper .bx-next:hover {
  background-position: inherit;
}