#size-stock .size-select {
  margin: 10px 0px 10px;
}

#size-stock .size-select .in-stock label {
  background: #fff;
  color: #232323;
  border: 1px solid #d8d8d8;
}

#size-stock .size-select li {
  margin-right: 9px;
  position: relative;
}

#size-stock .size-select .in-stock label:hover,
#size-stock .size-select .in-stock label.size_selected {
  background: #a8996e !important;
  border: 1px solid #d8d8d8;
  color: #232323;
}