@font-face {
    font-family: "SmytheSansReg";
    src: url("fonts/SmytheSansReg-webfont.woff") format('woff');
}

@font-face {
    font-family: "GuadelupePro";
    src: url("fonts/guadalupepro-webfont.woff") format('woff');
}

html, body {
		margin: 0px;
		text-align: center;
		font-size: 14px;
		font-family: "SmytheSansReg", Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		background: #ffffff;
		color: #666666;
	}

  h1, h2, h3, h4 {
    font-family: GuadelupePro, serif;
    font-weight: 300;
  }

  a {
    text-decoration: none;
    color: #000000
  }

  nav {
    height: 50px;
  }

    nav img {
      height: 30px;
      position: relative;
      top: 8px;
    }

  #main {
    display: block;
    width: 1200px;
    padding: 10px;
    margin: 0 auto;
  }

  .breadcrumb {
    display: none;
  }

    #main h1.section-title{
      color: #a8996e;
      font-size: 50px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 300;
      margin-bottom: 20px;
      margin-top: -10px;
    }

    #main a.section-intro {
      color: #666666;
      font-size: 16px;
      letter-spacing: 0.4px;
      margin-bottom: 20px;
      position: relative;
      display: block;
      margin-top: -15px;
    }

    #main #slider {
      border-bottom: 1px solid #d8d8d8;

    }

    #main #slider .bx-wrapper .slide-product-item {
      display: inline-block;
      position: relative;
      margin: 0px 7px;
      outline: 0;
      width: 260px;
    }

    #main #slider .bx-wrapper .slide-product-item img {

    }

    #main #slider .bx-wrapper .slide-product-item .plus-icon {
      top: 0;
      position: absolute;
      right: 8px;
      color: #fff;
      font-size: 32px;
    }

    #main #slider .bx-wrapper .slide-product-item .slide-item-overlay {
      height: 100px;
      position: absolute;
      bottom: 0;
      background: rgba(255,255,255,0.9);
      width: 260px;
    }

    #main #slider .bx-wrapper .slide-product-item .slide-item-overlay h4.product-item-name {
      font-size: 18px;
      font-family: SmytheSans, sans-serif;
      text-transform: capitalize;
      font-weight: 300;
      margin-top: 27px;
      margin-bottom: 5px;
    }

    #main #slider .bx-wrapper .slide-product-item .slide-item-overlay .product-item-price {
      font-size: 18px;
      color: #232323;
    }


    /* More top and bottom padding between pager buttons on main Bridesmaids Stylebook slider */
    .bx-controls {
      padding: 15px 0px;
      top: -13px;
      width: 100%;
    }

    /* Width between pager buttons on main Bridesmaids Stylebook slider */
    .bx-wrapper .bx-pager .bx-pager-item,
    .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
      margin: 0px 10px;
    }

    #main #trend-section {
      margin-top: 45px;
      color: #231f20;
    }

      #main #trend-section .trend-section-item {
        display: inline-block;
        width: 252px;
        height: 254px;
        vertical-align: top;
        margin: 0px 14px;
        cursor: pointer;
        opacity: 0.3;
      }

        #main #trend-section .trend-section-item.ui-tabs-active {
          opacity: 0.8;
        }

        #main #trend-section .trend-section-item.ui-state-hover {
          opacity: 0.8;
          transition: 0.6s;
        }

        #main #trend-section .trend-section-item a {
          outline: 0;
        }

      #main #trend-section li#trend1 {
        background: url('img/trend-section/trend-1.png') no-repeat;
        background-position: center;
        background-size: cover;
      }

      #main #trend-section li#trend2 {
        background: url('img/trend-section/trend-2.png') no-repeat;
        background-position: center;
        background-size: cover;
      }

      #main #trend-section li#trend3 {
        background: url('img/trend-section/trend-3.png') no-repeat;
        background-position: center;
        background-size: cover;
      }

      #main #trend-section li#trend4 {
        background: url('img/trend-section/trend-4.png') no-repeat;
        background-position: center;
        background-size: cover;
      }

        #main #trend-section .trend-section-item h3.trend-section-header {
          font-size: 30px;
          text-transform: uppercase;
          width: 183px;
          margin: 50px auto 0px;
        }

          #main #trend-section .trend-section-item h3.trend-section-header span {
            color: #e1a676;
          }

        #main .trend-section-background {
          margin-top: 70px;
        }

        #main #trend-section .trend-section-item .trend-section-link {
          letter-spacing: 0.4px;
          top: 10px;
          position: relative;
          cursor: pointer;
        }

          #main #trend-section .trend-section-item .trend-section-link > i.fa-angle-right {
            margin-left: 10px;
          }

      #main h4.trends-content-header {
        text-transform: uppercase;
        font-size: 45px;
        color: #222222;
      }

        #main h4.trends-content-header span.gold-header {
          color: #e1a676;
        }

    #main .trend-live-text {
      text-transform: uppercase;
      font-size: 20px;
      color: #666666;
    }

    #main .column {
      padding: 0;
      overflow: hidden;
    }

    #main .row {
      min-width: 400px;
      overflow: hidden;
    }

    #main .column img,
    #main .row img {
      width: 100%;
      margin: 10px;
    }

    #main #trend-1 #trend-1-text-1 {
      height: 30px;
      position: relative;
      margin-top: 30px;
    }

    #main #trend-1 #trend-1-text-2 {
      position: absolute;
      top: 37%;
      left: 22%;
      font-size: 24px;
    }

    #main #trend-2 h4#trend-2-header-text-1 {
      position: absolute;
      top: 41%;
      left: 36%;
      font-size: 36px;
      text-transform: uppercase;
    }

    #main #trend-2 #trend-2-text-1 {
      position: absolute;
      top: 48%;
      left: 22%;
      width: 67%;
    }

    #main #trend-3 h4#trend-3-header-text-1 {
      position: absolute;
      top: 32%;
      left: 26%;
      font-size: 45px;
      text-transform: uppercase;
    }

    #main #trend-3 #trend-3-text-1 {
      position: absolute;
      top: 42%;
      left: 28%;
    }

    #main .floral-footer {
      background: #f7f2e9;
      height: 50px;
    }

    #main .floral-footer img {
      height: 75px;
      position: relative;
      bottom: 13px;
      display: inline-block;
      float: left;
      width: 100px;
      margin: 0px 0px 0px 10px;
    }

    #main .floral-footer p {
      display: inline-block;
      float: left;
      bottom: 15px;
      position: relative;
      left: 12px;
      top: 16px;
      font-size: 16px;
      margin: 0 auto;
      color: #666666;
    }

    #main #trend-4 {
      background: none;
      height: auto !important;
    }

      #main #trend-4-video {
        width: 900px;
        height: 505px;
        margin: 0 auto;
      }

      #main #trend-4 .section-intro {
      color: #666666;
      font-size: 16px;
      letter-spacing: 0.4px;
      margin-bottom: 20px;
      position: relative;
      display: block;
      margin-top: 30px;
      }

      a#shop-corwin-dress-cta {
        padding: 10px 20px;
        background: #ffffff;
        color: #666666;
        font-size: 16px;
        border: 1px solid #000000;
        top: 15px;
        position: relative;
      }

      #main #trend-4 #fifteen-ways-grid {
        margin-top: 40px;
      }

        #main #trend-4 #fifteen-ways-grid .fifteen-ways-grid-item {
          width: 380px;
          height: 380px;
          display: inline-block;
          margin: 5px;
          position: relative;
        }

          #main #trend-4 #fifteen-ways-grid .fifteen-ways-grid-item .fifteen-ways-grid-image {
            width: 380px;
            height: 320px;
          }

          #main #trend-4 #fifteen-ways-grid .fifteen-ways-grid-item .fifteen-ways-grid-title {
            position: absolute;
            bottom: 0;
            width: 100%;
            font-size: 20px;
            text-transform: uppercase;
          }


          #main #trend-4 #fifteen-ways-grid .fifteen-ways-overlay {
          }

          #main #trend-4 #fifteen-ways-grid .fifteen-ways-overlay .fifteen-ways-overlay-circle {
            height: 320px;
            width: 320px;
            position: absolute;
            top: 0;
            left: 30px;
            background: #f9f8f4;
            border-radius: 100%;
          }

          #main #trend-4 #fifteen-ways-grid .fifteen-ways-overlay .fifteen-ways-overlay-circle .fifteen-ways-overlay-text {
            margin-top: 80px;
            font-size: 16px;
            line-height: 23px;
            color: #666666;
          }


@media only screen and (min-width: 1080px) and (max-width: 1220px) {

  #main {
    width: 980px;
  }

  #main #slider .bx-wrapper .slide-product-item {
    width: 205px;
    overflow: hidden;
  }

  #main #slider .bx-wrapper .slide-product-item .slide-item-overlay {
    width: 205px;
  }

  #main #trend-section .trend-section-item {
    width: 193px;
    height: 195px;
  }

  #main #trend-section .trend-section-item h3.trend-section-header {
    margin: 46px auto 0px;
    font-size: 26px;
  }

  #main #trend-1 #trend-1-text-2 {
    position: absolute;
    top: 37%;
    left: 22%;
    font-size: 20px;
  }

    #main #trend-2 h4#trend-2-header-text-1 {
      font-size: 32px;
    }

    #main #trend-2 #trend-2-text-1 {
      position: absolute;
      left: 24%;
      font-size: 16px;
    }

    #main #trend-3 h4#trend-3-header-text-1 {
      font-size: 36px;
    }

    #main #trend-3 #trend-3-text-1 {

    }

    #main #trend-4 {
      background: none;
      height: auto !important;
    }

  #main #trend-4 #fifteen-ways-grid {
  }

  #main #trend-4 #fifteen-ways-grid .fifteen-ways-grid-item {
    width: 280px;
    height: 280px;
  }

  #main #trend-4 #fifteen-ways-grid .fifteen-ways-grid-item .fifteen-ways-grid-image {
    width: 280px;
    height: 240px;
  }

  #main #trend-4 #fifteen-ways-grid .fifteen-ways-grid-item .fifteen-ways-grid-image img {
    width: 100%;
  }

  #main #trend-4 #fifteen-ways-grid .fifteen-ways-grid-item .fifteen-ways-grid-title {
    font-size: 18px;
  }

  #main #trend-4 #fifteen-ways-grid .fifteen-ways-overlay .fifteen-ways-overlay-circle {
    height: 220px;
    width: 220px;
  }

  #main #trend-4 #fifteen-ways-grid .fifteen-ways-overlay .fifteen-ways-overlay-circle .fifteen-ways-overlay-text {
    margin-top: 25px;
    font-size: 14px;
    line-height: 18px;
  }

}

@media only screen and (min-width: 980px) and (max-width: 1079px) {

  #main {
    width: 880px;
  }

  #main #slider .bx-wrapper .slide-product-item {
    width: 180px;
    overflow: hidden;
  }

  #main #slider .bx-wrapper .slide-product-item .slide-item-overlay {
    width: 180px;
  }

  #main #trend-section .trend-section-item {
    width: 167px;
    height: 167px;
  }

  #main #trend-section .trend-section-item h3.trend-section-header {
    margin: 30px auto 0px;
    font-size: 25px;
  }

  #main #trend-1 #trend-1-text-2 {
    top: 37%;
    left: 19%;
    font-size: 20px;
  }

    #main #trend-2 h4#trend-2-header-text-1 {
      font-size: 28px;
    }

    #main #trend-2 #trend-2-text-1 {
      top: 48%;
      left: 22%;
      width: 73%;
      font-size: 16px;
    }

    #main #trend-3 h4#trend-3-header-text-1 {
      font-size: 36px;
    }

    #main #trend-3 #trend-3-text-1 {
      top: 43%;
      font-size: 18px;
    }

    #main #trend-4 {
      background: none;
      height: auto !important;
    }

  #main #trend-4 #fifteen-ways-grid {
  }

  #main #trend-4 #fifteen-ways-grid .fifteen-ways-grid-item {
    width: 280px;
    height: 280px;
  }

  #main #trend-4 #fifteen-ways-grid .fifteen-ways-grid-item .fifteen-ways-grid-image {
    width: 280px;
    height: 240px;
  }

  #main #trend-4 #fifteen-ways-grid .fifteen-ways-grid-item .fifteen-ways-grid-image img {
    width: 100%;
  }

  #main #trend-4 #fifteen-ways-grid .fifteen-ways-grid-item .fifteen-ways-grid-title {
    font-size: 18px;
  }

  #main #trend-4 #fifteen-ways-grid .fifteen-ways-overlay .fifteen-ways-overlay-circle {
    height: 220px;
    width: 220px;
  }

  #main #trend-4 #fifteen-ways-grid .fifteen-ways-overlay .fifteen-ways-overlay-circle .fifteen-ways-overlay-text {
    margin-top: 25px;
    font-size: 14px;
    line-height: 18px;
  }

}

@media only screen and (min-width: 320px) and (max-width: 979px) {

  #main {
    width: 680px;
  }

  #main h2.section-title {
    font-size: 43px;
  }

  #main #slider .bx-wrapper .slide-product-item {
    width: 137px;
    overflow: hidden;
  }

  #main #slider .bx-wrapper .slide-product-item .slide-item-overlay {
    width: 137px;
  }

  #main #slider .bx-wrapper .slide-product-item .slide-item-overlay h4.product-item-name {
    font-size: 17px;
  }

  #main #slider .bx-wrapper .slide-product-item .slide-item-overlay .product-item-price {
    font-size: 16px;
  }

  #main #trend-section .trend-section-item {
    width: 116px;
    height: 116px;
  }

  #main #slider .bx-wrapper .slide-product-item .slide-item-overlay h4.product-item-name {
    margin-top: 10px;
  }

  #main #trend-section .trend-section-item h3.trend-section-header {
    margin: 26px auto 0px;
    font-size: 17px;
    width: 100px;
    top: -10px;
    position: relative;
  }

  #main #trend-section .trend-section-item .trend-section-link {
    top: 0px;
  }

  #main #trend-1 #trend-1-text-1 {
    font-size: 15px;
  }

  #main #trend-1 #trend-1-text-2 {
    top: 37%;
    left: 17%;
    font-size: 16px;
  }

    #main #trend-2 h4#trend-2-header-text-1 {
      font-size: 24px;
    }

    #main #trend-2 #trend-2-text-1 {
      top: 48%;
      left: 19%;
      width: 75%;
      font-size: 14px;
    }

    #main #trend-3 h4#trend-3-header-text-1 {
      font-size: 28px;
    }

    #main #trend-3 #trend-3-text-1 {
      top: 43%;
      font-size: 15px;
    }

    #main #trend-4 {
      background: none;
      height: auto !important;
    }

  #main #trend-4 h4.trends-content-header {
    font-size: 36px;
  }

  #main #trend-4-video {
    width: 600px;
    height: 367px;
  }

  #main #trend-4 #fifteen-ways-grid {
  }

  #main #trend-4 #fifteen-ways-grid .fifteen-ways-grid-item {
    width: 200px;
    height: 260px;
  }

  #main #trend-4 #fifteen-ways-grid .fifteen-ways-grid-item .fifteen-ways-grid-image {
    width: 200px;
    height: 160px;
  }

  #main #trend-4 #fifteen-ways-grid .fifteen-ways-grid-item .fifteen-ways-grid-image img {
    width: 100%;
  }

  #main #trend-4 #fifteen-ways-grid .fifteen-ways-grid-item .fifteen-ways-grid-title {
    bottom: 40px;
    font-size: 13px;
  }

  #main #trend-4 #fifteen-ways-grid .fifteen-ways-overlay .fifteen-ways-overlay-circle {
    height: 160px;
    width: 160px;
  }

  #main #trend-4 #fifteen-ways-grid .fifteen-ways-overlay .fifteen-ways-overlay-circle .fifteen-ways-overlay-text {
    margin-top: 0px;
    font-size: 12px;
    line-height: 14px;
  }

  #main .floral-footer p {
    left: 6px;
    top: 19px;
    font-size: 12px;
  }

}
