@font-face {
    font-family: "SmytheSansReg";
    src: url("fonts/SmytheSansReg-webfont.woff") format('woff');
}

@font-face {
    font-family: "GuadelupePro";
    src: url("fonts/guadalupepro-webfont.woff") format('woff');
}

html, body {
		margin: 0px;
		text-align: center;
		font-size: 14px;
		font-family: "SmytheSansReg", Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		background: #ffffff;
		color: #666666;
		overflow: hidden;
	}

.modal-body {
  display: inline-block;
}

#country-select-ireland, #country-select-uk {
  border-radius: 5px;
}

#store-has-good-wifi button {
  display: block;
  margin: 10px auto;
  outline: 0;
}

nav {
  height: 50px;
}

  nav img {
    height: 30px;
    position: relative;
    top: 8px;
  }

#main {
  display: block;
  height: 771px;
}

  #main #main-hero {
    width: 75%;
    float: left;
    display: block;
    height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

    .swipe {
    overflow: hidden;
    position: relative;
    max-width: 740px;
    width: 100%;
    height: 771px;
    }
    .swipe-wrap {
        overflow: hidden;
        position: relative;
    }
    .swipe-wrap > div {
        float: left;
        width: 100%;
        position: relative;
    }

    #main #main-hero #bottom-slider {
      height: 541px;
      background: rgba(255,255,255,0.9);
      bottom: -8px;
      width: 100%;
      margin-bottom: -441px;
      overflow: hidden;
      position: absolute;
    }

      #main #main-hero #bottom-slider #circle-arrows {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: rgba(255,255,255,0.9);
        position: absolute;
        top: -19px;
        margin-left: 47%;
      }

      #main #main-hero #bottom-slider #left-div,
      #main #main-hero #bottom-slider #right-div {
        margin-top: 28px;
      }

      #main #main-hero #bottom-slider #productName,
      #main #main-hero #bottom-slider #productName2 {
        font-family: GuadelupePro, serif;
        text-transform: uppercase;
        font-size: 36px;
      }

      #main #main-hero #bottom-slider .item-information {
        font-size: 20px;
        margin-bottom: 30px;
      }

        #main #main-hero #bottom-slider .item-information span.item-information-meta {
          color: #222;
        }

      #main #main-hero #bottom-slider #ask-for-availability-container {
        position: absolute;
        bottom: 0;
        height: 100px;
        width: 100%;
        display: none;
      }

        #main #main-hero #bottom-slider #ask-for-availability-container p {
          width: 65%;
          margin: 0 auto;
          line-height: 1.4;
          font-size: 18px;
          top: 28px;
          position: relative;
          letter-spacing: 0.4px;
       }

      #main #main-hero #bottom-slider #prices {

      }

      #main #main-hero #bottom-slider #sizes {
        display: none;
      }

      #main #main-hero #bottom-slider #colours,
      #main #main-hero #bottom-slider #colours2 {
        margin-top: 30px;
        display: none;
      }

        #main #main-hero #bottom-slider #colours .colour-swatch-item,
        #main #main-hero #bottom-slider #colours2 .colour-swatch-item {
          width: 12%;
          margin: 0 auto;
          display: inline-block;
        }

        .colour {
          margin: 0px 10px;
        }

          #main #main-hero #bottom-slider #colours .colour-swatch-item .colour-swatch-item-circle,
          #main #main-hero #bottom-slider #colours2 .colour-swatch-item .colour-swatch-item-circle {
            height: 30px;
            width: 30px;
            border-radius: 100%;
            background: #042f98;
            margin: 0 auto;
            border: 1px solid #e5e5e5;
            cursor: pointer;
          }

      #main #main-hero #bottom-slider #productPetite,
      #main #main-hero #bottom-slider #productPetite2 {
        color: #ab9a6e;
        font-family: GuadelupePro, serif;
        font-size: 34px;
        margin-top: 30px;
        display: none;
      }

      #main #main-hero #bottom-slider #productAlsoAvailable,
      #main #main-hero #bottom-slider #productAlsoAvailable2 {
        margin-top: 6px;
        display: none;
      }

   #main .side-image {
    float: right;
    width: 24.8%;
    display: block;
    height: 258px;
    border-bottom: 1px solid #ded0c5;
   }

   #main #side-image-1 {
    background-size: cover;
   }

   #main #side-image-2 {
    background-size: cover;
   }

   #main #side-image-3 {
    background-size: cover;
   }

#bottom-thumbnail-container {
  display: block;
  background: #e6e0d0;
  width: auto;
  height: 178px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: 5px;
  -webkit-overflow-scrolling: touch;
}

  #bottom-thumbnail-container .bottom-thumbnail {
  display: inline-block;
  position: relative;
  height: 178px;
  width: 119px;
  border-right: 1px solid #ded0c5;
  }

     #bottom-thumbnail-container .bottom-thumbnail img {
      height: 178px;
      width: 119px;
     }

.swipe .nav {
	position: absolute;
	width: 12px;
	height: 38px;
	z-index: 10;
	text-align: center;
	line-height: 40px;
	display: inline-block;
	color: #fff;
	top: 45%;
	cursor: pointer;
}
.swipe .nav.next {
	right: 2px;
	background: url('img/chevron-right.svg') no-repeat;
	background-size: 12px;
}
.swipe .nav.prev {
	left: 5px;
	background: url('img/chevron-left.svg') no-repeat;
	background-size: 12px;
}

/* NEXUS 7 2013 MEDIA QUERIES */

@media screen and (max-device-width: 601px) {

    #main {
      height: 655px;
    }

    .swipe {
      height: 655px;
    }

    #main .side-image {
      height: 216px;
    }

    #main #main-hero #bottom-slider #productName,
    #main #main-hero #bottom-slider #productName2 {
      font-size: 28px;
    }

    #main #main-hero #bottom-slider #ask-for-availability-container p {
      font-size: 15px;
    }

    .swipe {
      max-width: 448px;
    }

    #main #main-hero #bottom-slider #colours .colour
    #main #main-hero #bottom-slider #colours2 .colour {
      width: 20% !important;
    }
}

@media screen and (min-device-width: 1025px) {
    body, html {
      overflow: auto;
    }
}