body {
  margin: 0;
  padding: 0;
}

#product-container {
  width: 750px;
  height: 580px;
  overflow: hidden;
}

  #product-container #colorbox-close {
    position: absolute;
    right: 15px;
    z-index: 3;
    top: 15px;
  }

  #product-container #left-div {
  width: 360px;
  display: block;
  float: left;
  background: #f9f8f4;
  height: 573px;
  margin-right: 15px;
  }

  #product-container #right-div {
  width: 360px;
  display: block;
  float: left;
  height: 100%;
  margin-left: 15px;
  }

  #product-container #left-div #left-div-inner-container {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

    #product-container #left-div #left-div-inner-container #productName {
            font-family: GuadelupePro, serif;
            text-transform: uppercase;
            font-size: 36px;
            line-height: 46px;
            margin: 30px auto 0px;
            width: 80%;
          }

          #product-container #left-div #left-div-inner-container .item-information {
            font-size: 20px;
            margin: 20px;
          }

            #product-container #left-div #left-div-inner-container .item-information span.item-information-meta {
              color: #222;
            }

          #product-container #left-div #left-div-inner-container #prices {

          }

          #product-container #left-div #left-div-inner-container #sizes {
          }

          #product-container #left-div #left-div-inner-container #colours {
            margin-top: 30px;
          }

            #product-container #left-div #left-div-inner-container #colours .colourways {
              margin: 10px;
            }

            #product-container #left-div #left-div-inner-container #colours .colour {
              width: 12%;
              margin: 0 2px;
              display: inline-block;
              text-align: center;
              vertical-align: top;
            }

              #product-container #left-div #left-div-inner-container #colours .colour .colour-circle {
                height: 15px;
                width: 15px;
                border-radius: 100%;
                margin: 0 auto;
                border: 1px solid #e5e5e5;
              }

              #product-container #left-div #left-div-inner-container #colours .colour p.colour-name {
                margin: 0;
                padding: 0;
                text-transform: capitalize;
              }

          #product-container #left-div #left-div-inner-container #productPetite {
            color: #ab9a6e;
            font-family: GuadelupePro, serif;
            font-size: 34px;
            margin-top: 30px;
          }

          #product-container #left-div #left-div-inner-container #productAlsoAvailable {
            margin-top: 6px;
          }

          #product-container #left-div #left-div-inner-container a#available-date,
          #product-container #left-div #left-div-inner-container #available-date {
            padding: 10px 0px;
            background: #ffffff;
            color: #666666;
            font-size: 16px;
            border: 1px solid #000000;
            margin: 20px auto 0px;
            display: block;
            width: 65%;
          }

